@import 'globals';

.editor-content-block-button {
    position: relative;
    align-self: flex-start;
    margin-left: 20px;
}

.editor-content-block-button__btn {
    padding: 10px 0;
    border-radius: 40px;
    border: 1px solid $colorBlack;
}

.editor-content-block-button__btn input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'serenity', sans-serif;
    font-size: 19px;
    text-align: center;
}