$contentWidth: 1200px;

$layer1: 100;
$layer2: 200;
$layer3: 300;
$layer4: 400;
$layer5: 500;
$layer6: 600;

$colorWhite: #fff;
$colorBlack: #000;
$colorEerieBlack: #1C1C1E;
$colorJet: #2C2C2E;
$colorDavysGrey: #5D5D5D;
$colorDimGray: #6A6A6A;
$colorGreyWeb: #7D7C7C;
$colorBattleshipGrey: #8C8C8C;
$colorSilverGray: #CECECE;

$colorSnowWhite: #FAFAFA;
$colorCultured2: #F4F4F6;
$colorCultured: #EFEFEF;
$colorPlatinum: #EBEBEB;
$colorGrainsboro: #E5E5EA;
$colorLightGray: #D1D1D6;


$colorVioletBlue1: #575fcc;
$colorVioletBlue2: #535AC2;
$colorVioletBlue3: #404691;

$colorGovernorBay: #353FC2;
$colorPersianBlue: #3039b0;

$colorAzul1: #598BDC;
$colorAzul2: #53ABC9;
$colorAzul3: #5863C2;
$colorVermelho1: #DB5858;
$colorAmarelo1: #DB9758;
$colorVerde1: #58C294;
$colorRoxo1: #6353C9;
$colorCinza1: #7F7F7F;
$colorRosa1: #C95390;
$colorMarrom1: #5F4D49;

