$contentWidth: 1200px;

$layer1: 100;
$layer2: 200;
$layer3: 300;
$layer4: 400;
$layer5: 500;
$layer6: 600;

$colorWhite: #fff;
$colorBlack: #000;
$colorEerieBlack: #1C1C1E;
$colorJet: #2C2C2E;
$colorDavysGrey: #5D5D5D;
$colorDimGray: #6A6A6A;
$colorGreyWeb: #7D7C7C;
$colorBattleshipGrey: #8C8C8C;
$colorSilverGray: #CECECE;

$colorSnowWhite: #FAFAFA;
$colorCultured2: #F4F4F6;
$colorCultured: #EFEFEF;
$colorPlatinum: #EBEBEB;
$colorGrainsboro: #E5E5EA;
$colorLightGray: #D1D1D6;
